* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::selection {
  background-color: black;
  color: white;
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

ul {
  display: flex;
}

ul li {
  margin-left: 30px;
}

ul li a {
  color: brown;
}

.nav-logo {
  width: 10%;
  padding-top: 20px;
  object-fit: cover;
  object-position: center;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.603), rgba(0, 0, 0, 0.589)),
    url(../images/flutter.jpg);
  width: 100%;
  height: calc(100vh);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h1 {
  color: #fff;
  font-weight: 800;
  font-size: 80px;
  line-height: 80px;
  text-transform: capitalize;
}

.content .small {
  display: block;
  font-size: 40px;
}

.content .no-fill {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  margin-bottom: 40px;
}
.content a {
  display: inline-block;
  margin-top: 100px;
  text-align: center;
  color: #000;
  text-transform: capitalize;
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(238, 238, 238, 0.829);
}

.grid-content {
  /* margin-top: 30px; */
  display: grid;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  grid-template-columns: 1fr 1fr;
  -ms-grid-column-span: 20px;
}
.grid-item {
  margin: auto 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  margin-bottom: 10px;
}
.grid-item h1 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 25px;
}
.grid-item p {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 17px;
}
.read{
  padding: 10px;
  width: 70px;
  text-align: center;
  border-radius: 10px;
  background-color: #000;
  display: inline-block;
  color: #fff;
  margin-bottom: 30px;
}
